flask
flask-cors
requests
pymongo
dnspython
pyjwt
gunicorn
werkzeug
google-auth
imageio
imageio-ffmpeg
python-dotenv
boto3
pillow
TTS
transformers==4.40.1
accelerate>=0.26.0
sacremoses
sentencepiece
protobuf
scipy
